/*Google  Font*/
/*using type selector*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset*/
/*using universal selector*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*ALL HTML elements have default values for their "margin" and "padding" properties. Giving them value of "0" makes it easier for us to manipulate the size and positioning of elements*/

nav {
	/* Shorthand property: Apply padding on all sides */
	padding: 0.8rem;
	/*Creates spaces between the nav and intro section	*/
	/*The "margin-bottom" property only changes the space at the bottom of the element. THis is good for instances where a single space is needed to be changed	*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*using Selector combinator: Type_Selector Class_selector*/
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

/*using id selector*/
#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

/*using class*/
.header {
	text-align: center;
}
/*Even though we have access to the "padding" and "margin" properties when centering text horizontally, the "text-align" property is still better to use. Manipulating the "padding" and "margin" might affect non-text HTML tags to be added in the future, which would return unexpected results*/

/*we have used descendant selector*/
#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	margin-top: 1rem;
}
/* The used is a descendant selector. Even though there is only one button present in the page, this is appropriate as it helps in code readability telling the developer that the button is located in the intro section
- THe "font-weight" property changes the thickness of text.
- The "padding" property is used here because we want to make the button larger by creating space from the text content to the borders of the button */

/*using ID selector*/
#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 3rem;
	padding-top: 2rem;
}

/*ID selector plus descendant */
#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info .card {
	/* inline-block allows the card to appear beside each other	*/
	display: inline-block;
	/* Vertical-align top allows our elements to be aligned at the top*/
	vertical-align: top;
	/*	allows for cards to have equal height adjust with the content*/
	min-height: 175px;
	/* use only 30% to avoid overflow and horizontal scrolling	*/
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}



footer {
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}



/*ACTIVITY*/

/*background-color: #002540 use this for background*/

#pre-footer .pre_footer {
	color: white;
	display: inline-block;
	width: 22%;
	border-block-color:#002540;
	padding: 1.5rem;
	
}

#pre-footer {
	background-color: #002540;
	vertical-align: bottom;
}

#pre-footer div	h3 {
	padding-bottom: 0.33rem;
}

#pre-footer p{
		line-height: 150%;
}